/**********************************************
**************** GENERAUX *********************
**********************************************/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}



/*********************************************
***************** HEADER *********************
*********************************************/

header {
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.3);
  text-align: center;
}

h1 {
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
}

li:hover {
  box-shadow: 2px 2px 5px 2px rgba(161, 161, 161, 0.5);
}

/* Home */

article {
  width: 200px;
  
}

.btn-show {
  background-color: rgb(163, 241, 255);
  padding: 10px;
  border-radius: 15px;
}

.btn-show:hover {
  box-shadow: 2px 2px 5px 2px rgba(161, 161, 161, 0.5);  
}